USE [TeamNO3]
GO
/****** Object:  Table [dbo].[MEMBER]    Script Date: 2021/4/19 下午 09:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEMBER](
	[MEMBER_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [nvarchar](30) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[MEMBER_NAME] [nvarchar](20) NOT NULL,
	[GENDER] [nvarchar](10) NULL,
	[MEMBER_BIRTH] [date] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[ADDR] [nvarchar](max) NULL,
	[MEMBER_PHOTO] [nvarchar](max) NULL,
	[AUTHORITY] [int] NULL,
 CONSTRAINT [PK__MEMBER__B1223B7068A4618F] PRIMARY KEY CLUSTERED 
(
	[MEMBER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MEMBER] ON 

SET IDENTITY_INSERT [dbo].[MEMBER] OFF
GO
