USE [TeamNO3]
GO
/****** Object:  Table [dbo].[product_pay]    Script Date: 2021/4/19 下午 09:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_pay](
	[FK_Product_Id] [int] NOT NULL,
	[FK_Pay_Id] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[product_pay] ([FK_Product_Id], [FK_Pay_Id]) VALUES (33, 0)
INSERT [dbo].[product_pay] ([FK_Product_Id], [FK_Pay_Id]) VALUES (33, 1)
INSERT [dbo].[product_pay] ([FK_Product_Id], [FK_Pay_Id]) VALUES (33, 2)
GO
ALTER TABLE [dbo].[product_pay]  WITH CHECK ADD  CONSTRAINT [FK4b837qlhk05ec1k94go3px8yy] FOREIGN KEY([FK_Product_Id])
REFERENCES [dbo].[product] ([Product_Id])
GO
ALTER TABLE [dbo].[product_pay] CHECK CONSTRAINT [FK4b837qlhk05ec1k94go3px8yy]
GO
ALTER TABLE [dbo].[product_pay]  WITH CHECK ADD  CONSTRAINT [FKe06gfet7bboj4vqhofjuamwch] FOREIGN KEY([FK_Pay_Id])
REFERENCES [dbo].[product_pay_type] ([Pay_Id])
GO
ALTER TABLE [dbo].[product_pay] CHECK CONSTRAINT [FKe06gfet7bboj4vqhofjuamwch]
GO
ALTER TABLE [dbo].[product_pay]  WITH CHECK ADD  CONSTRAINT [FKj58rdx7iwsxt1wmwgqgjvfbl6] FOREIGN KEY([FK_Product_Id])
REFERENCES [dbo].[product] ([Product_Id])
GO
ALTER TABLE [dbo].[product_pay] CHECK CONSTRAINT [FKj58rdx7iwsxt1wmwgqgjvfbl6]
GO
