USE [TeamNO3]
GO
/****** Object:  Table [dbo].[SHIPPING_STATUS]    Script Date: 2021/4/19 下午 09:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIPPING_STATUS](
	[STATUS_ID] [int] NOT NULL,
	[STATUS_NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SHIPPING_STATUS] ([STATUS_ID], [STATUS_NAME]) VALUES (0, N'已出貨')
INSERT [dbo].[SHIPPING_STATUS] ([STATUS_ID], [STATUS_NAME]) VALUES (1, N'已出貨')
INSERT [dbo].[SHIPPING_STATUS] ([STATUS_ID], [STATUS_NAME]) VALUES (2, N'已退貨')
GO
