USE [TeamNO3]
GO
/****** Object:  Table [dbo].[product_ship]    Script Date: 2021/4/19 下午 09:13:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_ship](
	[FK_Product_Id] [int] NOT NULL,
	[FK_Ship_Id] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[product_ship] ([FK_Product_Id], [FK_Ship_Id]) VALUES (33, 0)
INSERT [dbo].[product_ship] ([FK_Product_Id], [FK_Ship_Id]) VALUES (33, 1)
INSERT [dbo].[product_ship] ([FK_Product_Id], [FK_Ship_Id]) VALUES (34, 0)
GO
ALTER TABLE [dbo].[product_ship]  WITH CHECK ADD  CONSTRAINT [FK22ngsnpq1xtkdhkw5lj73hsxu] FOREIGN KEY([FK_Product_Id])
REFERENCES [dbo].[product] ([Product_Id])
GO
ALTER TABLE [dbo].[product_ship] CHECK CONSTRAINT [FK22ngsnpq1xtkdhkw5lj73hsxu]
GO
ALTER TABLE [dbo].[product_ship]  WITH CHECK ADD  CONSTRAINT [FKkai83ava0254yb18xb1jfk4qn] FOREIGN KEY([FK_Ship_Id])
REFERENCES [dbo].[product_ship_type] ([Ship_Id])
GO
ALTER TABLE [dbo].[product_ship] CHECK CONSTRAINT [FKkai83ava0254yb18xb1jfk4qn]
GO
ALTER TABLE [dbo].[product_ship]  WITH CHECK ADD  CONSTRAINT [FKpb24rwroh7n5hv6920ww68o93] FOREIGN KEY([FK_Product_Id])
REFERENCES [dbo].[product] ([Product_Id])
GO
ALTER TABLE [dbo].[product_ship] CHECK CONSTRAINT [FKpb24rwroh7n5hv6920ww68o93]
GO
