USE [TeamNO3]
GO
/****** Object:  Table [dbo].[ORDER_STATUS]    Script Date: 2021/4/6 下午 03:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_STATUS](
	[STATUS_ID] [int] NOT NULL,
	[STATUS_NAME] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ORDER_STATUS] ([STATUS_ID], [STATUS_NAME]) VALUES (0, N'待付款')
INSERT [dbo].[ORDER_STATUS] ([STATUS_ID], [STATUS_NAME]) VALUES (1, N'已付款')
GO
