USE [TeamNO3]
GO
/****** Object:  Table [dbo].[ORDER_OVERVIEW]    Script Date: 2021/4/6 下午 03:10:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_OVERVIEW](
	[ORDER_ID] [int] IDENTITY(1,1) NOT NULL,
	[BUYER_ID] [int] NULL,
	[DATETIME] [datetime] NULL,
	[TOTAL_AMOUNT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ORDER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
